.chrome-tabs {
  box-sizing: border-box;
  position: relative;
  font-size: 10px;
  height: 40px;
  /* background: linear-gradient(#dad9da, #d9d8d9); */
  padding: 0.38em 1.2em 0.0em 1.2em;
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.chrome-tabs * {
  box-sizing: inherit;
  font-family: inherit;
  cursor: default;
}
#chrome-tabs-add-tab {
  background: linear-gradient(0deg, rgb(236, 236, 236), rgb(245, 245, 245));
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  right: 0px;
  padding: 5px 10px;
  margin-top: 9px;
  margin-right: 3px;
  border: 0.8px solid rgb(200, 200, 200);
  border-radius: 8px;
  font-size: 12px;
  z-index: 1000000;
  height: 24px;
}
#chrome-tabs-add-tab:active {
  background: linear-gradient(0deg, rgb(245, 245, 245), rgb(236, 236, 236));
  box-shadow: none;
  top: 2px;
}
.chrome-tabs .chrome-tabs-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 0.40em;
  left: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 0.8px solid rgb(200, 200, 200);
}
.chrome-tabs .chrome-tabs-content {
  position: relative;
  width: calc(100% - 75px);
  height: 100%;
  overflow: hidden;
}
.chrome-tabs .chrome-tab {
  position: absolute;
  left: 0;
  height: 37px;
  width: 24em;
  border: 0;
  margin: 0;
  z-index: 1;
  top: 2px;
}
.chrome-tabs .chrome-tab,
.chrome-tabs .chrome-tab * {
  user-select: none;
  cursor: default;
}
.chrome-tabs .chrome-tab .chrome-tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  width: calc(100% - 8px);
  height: 100%;
  background: #d0d0d0;
  border-radius: 8px 8px 0 0;
  margin: 2px 4px 4px 4px;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg {
  width: 100%;
  height: 100%;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
  fill: none;
  stroke: rgba(180, 180, 180, 1.0);
  stroke-width: 1.0px;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: #d0d0d0;
  transform: translateX(0.25px) translateY(0.25px);
}
.chrome-tabs .chrome-tab.chrome-tab-current {
  z-index: 999;
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-background {
  background: linear-gradient(0deg, rgba(236, 236, 236, 1.0), rgb(245, 245, 245));
  /*box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4); */
  border: 0.7px solid rgb(200, 200, 200);
  border-bottom: none;
}
.chrome-tabs .chrome-tab.chrome-tab-just-added {
  top: 14px;
  animation: chrome-tab-just-added 120ms forwards ease-in-out;
  
}
@keyframes chrome-tab-just-added {
  to {
    top: 2px;
  }
}
.chrome-tabs.chrome-tabs-sorting .chrome-tab:not(.chrome-tab-currently-dragged),
.chrome-tabs:not(.chrome-tabs-sorting) .chrome-tab.chrome-tab-just-dragged {
  transition: transform 120ms ease-in-out;
}
.chrome-tabs .chrome-tab-favicon, .chrome-tabs .chrome-tab-spinner {
  position: relative;
  margin-left: 1.6em;
  height: 14px;
  width: 14px;
  background-size: 14px;
  margin-top: 10px;
  z-index: 3;
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
}

.chrome-tabs .chrome-tab-spinner {
 content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsb2FkZXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQogICAgIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCA1MCA1MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTAgNTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgPHBhdGggZmlsbD0iIzg4OCIgZD0iTTQzLjkzNSwyNS4xNDVjMC0xMC4zMTgtOC4zNjQtMTguNjgzLTE4LjY4My0xOC42ODNjLTEwLjMxOCwwLTE4LjY4Myw4LjM2NS0xOC42ODMsMTguNjgzaDQuMDY4YzAtOC4wNzEsNi41NDMtMTQuNjE1LDE0LjYxNS0xNC42MTVjOC4wNzIsMCwxNC42MTUsNi41NDMsMTQuNjE1LDE0LjYxNUg0My45MzV6Ij4NCiAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVUeXBlPSJ4bWwiDQogICAgICBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iDQogICAgICB0eXBlPSJyb3RhdGUiDQogICAgICBmcm9tPSIwIDI1IDI1Ig0KICAgICAgdG89IjM2MCAyNSAyNSINCiAgICAgIGR1cj0iMC42cyINCiAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+DQogICAgPC9wYXRoPg0KICA8L3N2Zz4NCg==");
}

.chrome-tabs .chrome-tab-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #222;
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  margin-top: 9px;
  max-width: calc(100% - 5em);
  pointer-events: none;
}
.chrome-tabs .chrome-tab-close {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  z-index: 2;
  right: 1.4em;
  top: 11px;
}
.chrome-tabs .chrome-tab-close::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='%235a5a5a' stroke-width='1.3' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chrome-tabs .chrome-tab-close:hover::before,
.chrome-tabs .chrome-tab-close:hover:active::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='%23fff' stroke-width='1.3' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
}
.chrome-tabs .chrome-tab-close:hover {
  background: #e25c4b;
}
.chrome-tabs .chrome-tab-close:hover:active {
  background: #b74a3b;
}
.chrome-tabs .chrome-tab {
  width: 243px
}
.chrome-tabs .chrome-tab:nth-child(1) {
  transform: translate3d(0px, 0, 0)
}
.chrome-tabs .chrome-tab:nth-child(2) {
  transform: translate3d(229px, 0, 0)
}
