* {
     overflow: hidden;
     user-select: none;
     -webkit-user-select: none;
}

body {
     margin: 0;
     padding: 0;
     font-family: "Segoe UI", -apple-system, Ubuntu, Arial, sans-serif;
     font-size: 14px;
     background: #16151d;
     color: #c4c2d0;
}

#bar {
     background: #232330;
     background: linear-gradient(0deg, #232330, #282836);
     height: 32px;
     padding: 4px 9px;
     border-bottom: 0.8px solid #252532;
     cursor: default;
     display: flex;
}

#address {
     border-radius: 24px;
     border: none;
     height: 32px;
     flex: 1;
     font-size: 14px;
     color: #c4c2d0;
     background-color: #16151d;
     display: inline-block;
     padding: 2px 16px 2px 16px;
     margin-top: 0px;
     margin-left: 9px;
     margin-right: 9px;
     user-select: auto !important;
     -webkit-user-select: text !important;
}

#address:focus {
     background-color: #16151d;
     color: #FFF;
}

.icon {
     cursor: default;
     fill: rgba(200, 200, 200, 1.0);
     vertical-align: top;
     margin-top: -1px;
     padding: 5px;
     height: 22px;
}

#back {
     margin-left: 0px;
}

.icon.disabled {

     fill: rgb(99 96 116);
}

svg#icon_defs path {
     fill: inherit;
}

.icon:not(.disabled):hover {
     background-color: #343446;
     border-radius: 100%;
}